main {
    max-width: 1080px;
}

.contact-lists {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    max-height: 300px;
}

.contact-lists .contact-item {
    cursor: pointer;
    overflow: hidden;
}

.contact-lists .contact-item:hover {
    background-color: rgb(220, 220, 220);
}

.contact-item {
    transition: .2s;
}

.contact-item.active {
    background-color: var(--teal);
    color: white;
}

.user-thumb-img {
    padding: .7em .8em;
    border-radius: 50%;
}

.user-thumb-message {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

header.navigation {
    width: 100%;
    display: flex;
    align-items: center;
}

header button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chatContainer {
    scroll-behavior: smooth;
    height: 450px !important;
    /* min-height: 450px; */
    /* max-height: 650px !important; */
}

.sidebar {
    transition: .4s;
}

.sidebar--open {
    transform: translate(0) !important;
    opacity: 1 !important;
}

.connecting {
    animation: connecting .5s linear infinite alternate;
}

/* loader */
.lds-dual-ring,
.chat-container-disonnect,
.chat-container-connecting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 998;
    color: white;
}

.lds-dual-ring::before {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid white;
    border-color: white transparent white transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

/* toast */
.toast {
    width: 300px !important;
}

@keyframes connecting {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 768px) {
    .sidebar {
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(65, 65, 65, 0.8);
        z-index: 999;
        transform: translate(-1000px);
        opacity: 0;
    }

    .toast {
        width: 100% !important;
    }
}